body {
    width: 600px;
    margin-left: 25px;
    font-weight: bold;
}

#b5x5 {
    margin-top: 10px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#b4x4 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.metric {
    width: auto;
    margin: 10px;
    font-size: 16px;
}

#title {
    font-size: 22px;
    width: auto;
    margin: auto;
}

.group_span {
    font-size: 18px;
}

.group {
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.outer {
    margin-left: 2px !important;
    margin-bottom: 0 !important;
}

.board_title {
    font-size: 20px;
}

.content_span {
    font-style: italic;
}