body {
    width: 600px;
    height: 100px;
}

.metrics_div {
    width: auto;
    margin: 10px;
    font-size: 16px;
}

.title_span {
    font-weight: bold;
}

#title {
    font-size: 20px;
    font-weight: bold;
    width: auto;
    margin: auto;
}

.group_span {
    font-size: 18px;
    font-weight: bold;
}

.group {
    margin-top: 25px;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid black;
}